{% extends "base.html" %}
{% load static %}

{% block content %}

{{ variable }} 
{% if user.is_authenticated %}
<h1>Hi {{ request.user.username }}</h1>
<a href="/logout/" class="button">Logout</a>
{% else %}
<a href="/login/" class="button">Login</a>
{% endif %}

      
<div class="grid-x grid-padding-x">
    <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
    <div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 cell">      
  
<div id="app-4"> 
<span v-if="unseen">
    <div v-for="sugg in suggestions">
        <div class="card-info info">
            {% verbatim %}
            <div class="card-info-label">
                <div class="card-info-label-text">
                {{ sugg.author }}
                </div>
            </div>
            <div class="card-info-content">
                <h3 class="lead">{{ sugg.suggestion }}</h3>
                <p>Created on: {{ sugg.created_on }}</p>
                <a v-bind:href="'/comment/'+ sugg.id+'/'" class="button">comment</a>
            </div>
            {% endverbatim %}
        </div>
        <div class="grid-x grid-padding-x">
            <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
            <div class="large-11 medium-11 small-12 large-offset-1 medium-offset-1 cell">      
                    <div v-for="comm in sugg.comments">
                            <div class="card-info info">
                                {% verbatim %}
                                <div class="card-info-label">
                                    <div class="card-info-label-text">
                                    {{ comm.author }}
                                    </div>
                                </div>
                                <div class="card-info-content">
                                    <h3 class="lead">{{ comm.comment }}</h3>
                                    <p>Created on: {{ comm.created_on }}</p>
                                    <span v-if="comm.delete"><a v-bind:href="'/comment/'+ comm.id+'/1/'" class="alert button">delete</a></span>
                                </div>
                                {% endverbatim %}
                            </div>
                        </div>
            </div>
        </div>
    </div>
        
</div>
</span> 
</div>
{% if user.is_authenticated %}
<form action="/" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" class="button" value="Submit">
</form>
<!-- <div id="app">
    {% verbatim %}
    {{ message }}
    {% endverbatim %}
</div> -->
{% endif %}
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}

<!--
{% include "base.html" %}
{% load mathfilters %}
{% load static %}




<div id="header">

	{% if user.is_anonymous %}
	<a href='/login/' class='button'>Login</a>
	<a href='/register/' class='button'>Register</a>
	{% endif %}

	{% if user.is_authenticated %}
	<a href='/login/' class='button'>Login</a>
	<a href='/logout/' class='button'>Logout</a>
	{% endif %}

<a href='/register/' class='button'>Register</a>
 -->

<!-- </div>

<div class="top-bar-left">

	<ul style = "text-align: center">

		{% for o in some_list %}

		{% if o|mod:value == 0 %}
 			<li class = "button">{{helloWorld}} {{ o }}  </li>
		{% elif o|mod:value == 1%}
			<li class = "button warning">{{helloWorld}} {{ o }}  </li>
		{% elif o|mod:value == 2%}
			<li class = "button alert">{{helloWorld}} {{ o }}  </li>
		{% elif o|mod:value == 3%}
			<li class = "button secondary">{{helloWorld}} {{ o }}  </li>
		{% endif %}

		{% endfor %}

	</ul>

</div>

<div class="grid-container" style="background-color: #FFFFFF"> 
 		<div class="large-12 cell" style="background-color: #D3D3D3">
 			<div class="callout" style="background-color: #D3D3D3">
				<div style="background-color: #D3D3D3">



	<h3 class = "button success"> {{ variable }} </h3>
	
	-->

	<!--
			<h1 style = "text-align: center" > CINS465 Web Development</h1>


					{% if user.is_authenticated %}
					Creates and operates the {{ form }} which was created in views.pw
					<form action="/" method="post">
					
					{% csrf_token %}
					{{ form }}
					<input type="submit" class="button" value="Submit">
					</form>
					{% endif %}

					 vue.js template variable 

					<div id="app">
						{% verbatim %}
						{{ message }}
						{% endverbatim %}
						
					</div>


					<div id="app-2">
  						<span v-bind:title="message">
  							<div class="button secondary">
   						 		Hover over me to see log in date/time!
   						 	</div>
 						 </span>
					</div>
	
					{% if user.is_anonymous %}
						<h3> Please login to view/create content </h3>
					{% endif %}

					<div id="app-4">
  						<ol>
    						<li v-for="sugg in suggestions">
    							{% verbatim %}
     					 		{{ sugg.suggestion }} - {{ sugg.author }} - {{ sugg.created_on }}
     					 		{% endverbatim %}

     					 	<ul>
     					 		<li v-for="comm in sugg.comments">
    							{% verbatim %}
     					 			{{ comm.comment }} - {{ comm.author }} - {{ comm.created_on }}
     					 		{% endverbatim %}
   								
   								</li>
   								{% verbatim %}
     					 			<a v-bind:href="'/comment/'+ sugg.id+'/'" class="button">comment</a></li>
     					 		{% endverbatim %}

   							</ul>
   							 </li>
 						 </ol>
 					</div>
 						-->
 				<!-- 		<span v-if="unseen">
							<ol>
								{% for sugg in suggestion_list %}
									<li> {{ sugg.suggestion }}  </li>
								{% endfor %}
							</ol>
						</span>
					</div>

 	<script>
	document.getElementById("demo").innerHTML = "CINS465 Hello World JS";
	</script> -->


	<!-- <img src="{% static "../static/Image/Chico_state.jpg" %}" alt="My image"> -->
<!-- 		
			</div>
		</div>
	</div>
</div>







<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{%static "js/myvue.js" %}"></script>
-->